.main-navigation {
    position: relative;

    color: $clr-light;

    background-color: $clr-accent-dark;

    &__top {
        padding: 25px 20px 20px;
        border-bottom: 1px solid $clr-dark;
    }

    &__logo-image--tablet {
        display: none;
    }

    &__logo-image--desktop {
        display: none;
    }

    &__button {
        position: absolute;
        top: 23px;
        right: 20px;

        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__button--close {
        width: 30px;
        height: 30px;
    }

    &__button--close::after,
    &__button--close::before {
        content: '';

        position: absolute;
        top: 13px;
        left: 0;

        width: 30px;
        height: 4px;
        
        background-color: #fff;
    }

    &__button--close::after {
        transform: rotate(45deg);
    }

    &__button--close::before {
        transform: rotate(-45deg);
    }

    &__button--open {
        width: 50px;
        height: 30px;
    }

    &__button--open::before {
        content: '';

        position: absolute;
        top: 2px;
        left: 0;

        width: 50px;
        height: 4px;

        background-color: #fff;
        box-shadow: 0 10px #fff,
                    0 20px #fff;
    }

    &__button--open {
        display: none;
    }

    // =====Состояния логотипа=====

    &__logo-link[href]:hover &__logo-image path,
    &__logo-link[href]:focus &__logo-image path{
        fill: $clr-accent-light;
    }

    &__logo-link[href]:active &__logo-image path {
        fill: inherit;
        opacity: 0.3;
    }

    // Состояния кнопок открытия/закрытия мобильного меню

    &__button--close:hover::before,
    &__button--close:hover::after,
    &__button--close:focus::before,
    &__button--close:focus::after {
        background-color: rgba(210, 40, 86, 1);
    }

    &__button--close:active::before,
    &__button--close:active::after {
        background-color: rgba(210, 40, 86, 0.3);
    }

    &__button--open:hover::before,
    &__button--open:focus::before {
        background-color: rgba(210, 40, 86, 1);
        box-shadow: 0 10px rgba(210, 40, 86, 1),
                    0 20px rgba(210, 40, 86, 1);
    }


    &__button--open:active::before {
        background-color: rgba(210, 40, 86, 0.3);
        box-shadow: 0 10px rgba(210, 40, 86, 0.3),
                    0 20px rgba(210, 40, 86, 0.3);
    }
}

@media(min-width: $width-tbl) {
    .main-navigation {

        &__top {
            padding: 25px 20px 40px;
            border-bottom: 1px solid $clr-dark;
        }

        &__logo-image--mobile {
            display: none;
        }

        &__logo-image--tablet {
            display: block;
        }   

        &__button {
            top: 42px;
        }
    }
}

// Закрытие/Открытие главного меню

@media(max-width: $width-dsk) {
    .main-navigation {

        &--closed {
            background-color: rgba(0, 0, 0, 0.3);
        }

        &--closed &__top {
            border-bottom: none;
        }

        &--closed &__list {
            display: none;
        }

        &--closed &__button--close {
            display: none;
        }

        &--closed &__button--open {
            display: block;
        }
    }
}

@media(min-width: $width-dsk) {
    .main-navigation {
        padding: 25px 130px 40px;

        background-color: rgba(0, 0, 0, 0.3);

        &__wrapper {
            display: flex;
            justify-content: space-between;

            max-width: $max-width-dsk;
            margin: 0 auto;
        }

        &__top {
            padding: 0;
            border-bottom: none;
        }

        &__logo-image--tablet {
            display: none;
        }

        &__logo-image--desktop {
            display: block;
        }   

        &__list {
            width: 70%;
            max-width: 800px;
            padding-top: 10px;
        }

        &__button {
            display: none;
        }
    }
}