.site-list {
    display: flex;
    flex-direction: column;

    &__item {
        border-top: 1px solid $br-clr-secondary;
        border-bottom: 1px solid $clr-dark;
    }

    &__link {
        display: block;

        padding: 20px;

        color: $clr-light;
        text-align: center;
        text-transform: uppercase;

        text-decoration: none;
    }

    &__link[href]:hover,
    &__link[href]:focus {
        color: rgba(210, 40, 86, 1);
    }

    &__link[href]:active {
        color: rgba(210, 40, 86, 0.3);
    }
}

@media(min-width: $width-dsk) {
    .site-list {
        flex-direction: row;
        justify-content: space-between;

        &__item {
            border-top: none;
            border-bottom: none;
        }
    
        &__link {
            padding: 0;

            text-transform: none; 
        }

        &__link--active {
            border-bottom: 2px solid $clr-light;
        }
    }
}