.social {

    &__list {
        display: flex;
    }

    &__item + &__item {
        margin-left: 20px;
    }

    &__link {
        display: block;

        width: 45px;
        height: 45px;

        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid rgba(40, 54, 69, 0.1);
        border-radius: 50%;
    }

    &__link--twitter {
        background-image: url(../img/twitter-logo.svg);
    }

    &__link--facebook {
        background-image: url(../img/facebook-logo.svg);
    }

    &__link--youtube {
        background-image: url(../img/youtube-logo.svg);
    }
}