.contest {
    padding-top: 50px;

    &__description {
        padding: 0 20px;

        text-align: center;

        span {
            display: none;
        }
    }

    &__item {
        padding: 40px 20px;
    }

    &__item:last-child {
        padding-bottom: 0;
    }

    &__item--achievements,
    &__item--platform {
        background-color: #f2f2f2;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 45px 20px 20px;
    }

    &__submit {
        width: 100%;
        max-width: 340px;
        margin-bottom: 40px;
    }

    &__legend {
        font-size: 0.875rem;
        text-transform: uppercase;
    }

    &__legend-star {
        color: $clr-accent-light;
    }

    &__legend-full {
        display: none;
    }
}

@media(min-width: $width-tbl) {
    .contest {
        padding-top: 100px;
    
        &__description {
            margin-bottom: 70px;

            font-size: 1.125rem;
    
            span {
                display: inline-block;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            margin-bottom: 60px;
            padding: 0 20px;
        }

        &__item:last-child {
            margin-bottom: 0;
        }

        &__item--achievements,
        &__item--platform {
            background-color: transparent;
        }

        &__item--fullname {order: 1;}    

        &__item--achievements {order: 4;}

        &__item--contacts {order: 3;}

        &__item--platform {order: 2;}

        &__item--review {order: 5;}
    
        &__bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            padding: 70px 20px 50px;
        }
    
        &__submit {
            width: 45%;
            max-width: 300px;
            margin-bottom: 0;
        }
    }
}

@media(min-width: $width-dsk) {
    .contest {
        padding: 100px 130px 0;

        &__wrapper {
            max-width: $max-width-dsk;
            margin: 0 auto;
        }
    
        &__description {
            margin-bottom: 80px;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;

            padding: 0; 
        }

        &__item {
            padding: 0;
        }

        &__item--fullname {
            width: 50%;
            padding-right: 35px;
        }    

        &__item--achievements {
            width: 100%;
        }

        &__item--contacts {
            width: 100%;
        }

        &__item--platform {
            width: 50%;
            padding-left: 35px; 
        }

        &__item--review {
            width: 100%;
        }
    
        &__bottom {
            padding: 70px 0 0;
        }
    
        &__submit {
            width: 45%;
        }

        &__legend-full {
            display: inline-block;
        }
    }         
}