.copyright {
    display: flex;
    align-items: center;

    &__text {
        margin-right: 15px;
        padding-bottom: 3px;

        font-weight: $fw-reg;
    }

    &__link {
        display: flex;
    }

    &__logo path {
        transition: fill 0.1s ease-in;
    }

    &__link:hover &__logo path,
    &__link:focus &__logo path {
        fill: rgba(40, 54, 69, 1);
    }

    &__link:active &__logo path {
        fill: rgba(40, 54, 69, 0.3);
    }
}