.filter-settings {
    display: flex;
    justify-content: center;

    &__toggle {
        width: 70px;
        margin-right: 15px;

        background-color: transparent;
        border: none;
    }

    &__toggle:last-child {
        margin-right: 0;
    }

    &__toggle--active svg path {
        fill: $clr-accent-light;
    }
}