.page-footer {
    padding: 40px 20px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
    }

    &--index {
        display: none;
    }

    &__logo-link {
        margin-bottom: 40px;
    }

    &__logo--desktop {
        display: none;
    }

    &__logo-link[href]:hover &__logo path,
    &__logo-link[href]:focus &__logo path {
        fill: $clr-accent-light;
    }

    &__logo-link[href]:active &__logo path {
        opacity: 0.3;
    }

    &__social {
        margin-bottom: 40px;
    }
}

@media(min-width: $width-tbl) {
    .page-footer {   
        padding: 35px 20px 40px;

        &__wrapper {
            flex-direction: row;
            justify-content: space-between;
        }
    
        &--index {
            display: flex;
        }
    
        &__logo-link {
            margin-bottom: 0;
            padding-bottom: 5px;
        }
    
        &__social {
            margin-bottom: 0;
        }
    }
}

@media(min-width: $width-dsk) {
    .page-footer {    
        padding: 70px 130px 75px;

        &__wrapper {
            max-width: $max-width-dsk;
            margin:  0 auto;
        }
    
        &__logo-link {
            padding-bottom: 15px;
        }

        &__logo--mobile {
            display: none;
        }

        &__logo--desktop {
            display: block;
        }
    
        &__social {
            margin-bottom: 0;
        }
    }
}