// ШРИФТЫ 

:root {
    --fs-h2: 1.5rem;
    --fs-h3: 1.125rem;
    --fs-nav: 1.125rem;
    --fs-body: 0.875rem;
    --fs-btn: 1.125rem;
}

@media (min-width: $width-tbl) {
    :root {
        --fs-h2: 2.5rem;
    }
}

@media (min-width: $width-dsk) {
    :root {
        --fs-h2: 3.125rem;
        --fs-h3: 1.875rem;
        --fs-body: 1.125rem;
        --fs-btn: 1.3125rem;
    }
}

// ГЛОБАЛЬНЫЕ СТИЛИ

body {
    min-width: $width-mbl;
    margin: 0 auto;
    padding: 0;
  
    font-family: $ff-primary;
    font-size: var(--fs-body);
    line-height: $lh-primary;
    color: $clr-accent-dark;
    font-weight: $fw-reg;
    font-style: normal; 
  
    background-color: $clr-light;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

// Кнопки 

.button {
  display: block;

  padding: 18px 35px;
  
  font-family: $ff-primary;
  font-size: var(--fs-btn);
  line-height: $lh-secondary;
  font-weight: $fw-bold;
  color: $clr-accent-light;
  text-decoration: none;
  text-align: center;

  background-color: transparent;
  border: 3px solid $clr-accent-light;  
  cursor: pointer;
  border-radius: 30px;
}

.button--light {
  color: $clr-light;

  border: 3px solid $clr-light;
}

.button--disabled {
  color: rgba(40, 54, 69, 0.1);
  
  border: 3px solid  rgba(40, 54, 69, 0.1);
  background-color: transparent;
}

.button--secondary {
  text-transform: uppercase;

  color: $clr-light;

  background-color: rgba(42, 171, 109, 1);
  border: none;
  border-radius: 0;
}

// Состояния кнопок 

.button:hover,
.button:focus {
  color: $clr-light;

  background-color: $clr-accent-light;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--light:hover,
.button--light:focus {
  color: $clr-accent-light;

  background-color: $clr-light;
}

.button--light:active {
  color: rgba(210, 40, 86, 0.3);
}

.button--disabled:hover,
.button--disabled:focus {
  color: rgba(40, 54, 69, 0.3);
  
  border: 3px solid rgba(40, 54, 69, 0.3);
  background-color: transparent;
} 

.button--disabled:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(40, 54, 69, 0.3); 
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: rgba(28, 155, 94, 1);
}

.button--secondary:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--secondary:disabled {
  color: #ffffff;

  background-color: #e5e5e5;
}

// =========Поля формы==========

// Текстовые поля

.text-input {
  padding: 18px 20px;

  font-size: 1.125rem;
  color: $clr-accent-dark;

  background-color: transparent;
  border: 2px solid $br-clr-primary;
}

// Состояния текстовых полей

.text-input:hover {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
}

.text-input:focus,
.text-input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

// Чекбоксы

.checkbox + label::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

.checkbox:checked + label::after {
  content: '';

  position: absolute;
  top: 9px;
  left: 7px;

  width: 21px;
  height: 10px;

  border: 2px solid $clr-accent-light;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

// Состояния чекбоксов

.checkbox:hover + label::before {
  border: 2px solid #283645;
}

.checkbox:focus + label::before,
.checkbox:active + label::before {
  border: 2px solid #d22856;
}

// Радиокнопки

.radio-button + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
}

.radio-button:checked + label::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;

  width: 15px;
  height: 15px;

  background-color: $clr-accent-light;
  border-radius: 50%;
}

// Состояния радиокнопок

.radio-button:hover + label::before {
  border: 2px solid $clr-accent-dark;
}

.radio-button:focus + label::before,
.radio-button:active + label::before {
  border: 2px solid $clr-accent-light;
}

// Placeholders

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: $ff-primary;
  color: $clr-accent-dark;
  font-weight: $fw-reg;
}

input:-moz-placeholder,
textarea:-moz-placeholder { 
  font-family: $ff-primary;
  color: $clr-accent-dark;
  font-weight: $fw-reg;
}

input::-moz-placeholder,
textarea::-moz-placeholder {  
  font-family: $ff-primary;
  color: $clr-accent-dark;
  font-weight: $fw-reg;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
  font-family: $ff-primary;
  color: $clr-accent-dark;
  font-weight: $fw-reg;
}

// Сброс настроек по умолчанию

*,
*::before,
*::after {
  box-sizing: border-box;
}
  
p,
h1, 
h2,
h3, 
h4,
h5,
h6,
figure {
  margin: 0;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}